
  <!-- <h1 class="mexicoconReto">No aparece nada</h1>
  <label for="" class="mexicoconReto">lkllkkl</label> -->
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Login
      
    </title>

  </head>

  <Body style="background-color:black">
    <div style="text-align:center">
      <form action="">
      <h1 class="mexicoconReto">Méxicocon<span class="reto">Reto</span></h1>
      <input type="U" placeholder="&#128272; Usuario" name="user">
      <input type="password" placeholder="&#128272; Contraseña" name="clave">
      </form>
      
    </div>
    
  </Body>
  
 
</html>

  
